<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs, update any existing page or create new pages.
  </p> -->

  <!-- <ion-list>
    <ion-item>
      <ion-label>Destination</ion-label>
      <ion-select [(ngModel)]="destination">
        <ion-option value="13.65174, 100.49492">ม.บางมด</ion-option>
        <ion-option value="13.83615, 100.56337">จตุจักร</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Start</ion-label>
      <ion-select [(ngModel)]="start">
        <ion-option value="">None (current location)</ion-option>
        <ion-option value="13.65174, 100.49492">ม.บางมด</ion-option>
        <ion-option value="13.83615, 100.56337">จตุจักร</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button (click)="openApp()">open app</button>
    </ion-item>
  </ion-list> -->

  <!-- <div *ngFor="let i of location">
          <button ion-item (click)="open(i)">
              <h2>{{i.title}}</h2>
              <h3>8.30-10.00 PM</h3> -->
        <!-- <button ion-button item-end (click)="openApplist(i)">google maps</button> -->
        <!-- </button>
        </div> -->

  <!-- <div>
    <ion-list>
      <ion-item-sliding #item *ngFor="let i of location">

        <ion-item >
          {{i.title}}
        </ion-item>

        <ion-item-options side="right" *ngFor="let i of location">
          <button ion-button (click)="open(i)">Open</button>
          <button ion-button color="secondary" (click)="openApplist(i)">Google maps</button>
        </ion-item-options>

        <ion-item-options side="left" *ngFor="let i of location">
          <button ion-button color="danger" >Delete</button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </div> -->

  <!-- <ion-searchbar (ionInput)="getItems($event)" [debounce]="500" placeholder="ค้นหา..."></ion-searchbar> -->
  
  <div id="map"></div>
  <div id="current">Nothing yet...</div>
  <!-- <button ion-button (click)="geolocation()">Geolocation</button> -->
  
  <div id="info"> 
    <table>
      <tr><td>lat:</td> <td><input type='text' readonly id='lat' value="" /> </td></tr>
      <tr><td>lng:</td> <td><input type='text' readonly id='lng' value=""/> </td></tr>
      <tr><td></td>
          <td><input type='button' value='Save' (click)='saveData()'/></td>
      </tr>
    </table>
  </div>
    <!-- <div id="message">Location saved</div>  -->
    
    <input type='button' value='Geolocation' (click)='geolocation()'/>
</ion-content>